# Ambiente virtual
venv/
ENV/
env/

# Arquivos Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Configurações do editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações de IDE
*.sublime-workspace
*.sublime-project
*.code-workspace

# Arquivos de saída
output_json/
